
</main>

  <!--Nieuwsbrief-->
<form action="/action_page.php">
  <h2>Nieuwsbrief</h2>
  <h3>Blijf je op de hoogte van het laatste nieuws over de eerste 1000 dagen en voedselallergie?</h3>
  <div class="input-container">
    <a href="#"><i class="fa fa-envelope icon"></i></a>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <button type="submit" class="btn">Registreer</button>
</form>

  <!--footer-->

<footer>
  <div id="footer-flexbox">   
      <ul class="footer-ul">
          <li><h4>Social</h4></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">YouTube</a></li>
      </ul>
      <ul class="footer-ul">
          <li><h4>Menu</h4></li>
          <li><a href="">Voor Mini</a></li>
          <li><a href="">Vini Mini Producten</a></li>
          <li><a href="">Over Ons</a></li>
          <li><a href="">Nieuws</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Zoeken</a></li>
      </ul>
      <ul class="footer-ul">
          <li><h4>Info & Help</h4></li>
          <li><a href="">Algemene voorwaarden</a></li>
          <li><a href="">Privacy voorwaarden</a></li>
          <li><a href="">Veelgestelde vragen</a></li>
      </ul>
  </div> 
  <p><span>&copy;</span> 2023. Alle rechten voorbehouden. Vinimini.</p>
  </footer>


</body>
<script src="main.js"></script>

</html>