<%- include('./partials/head.ejs') %>

<div class="grid-container">
   
    <article>
        <h2>Oepss! Dit product bestaat nog niet.</h2>
        <img class="article-img" src="/oeps.jpg" alt="oeps">
    </article>
 
</div>



<%- include('./partials/footer.ejs') %>