@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
}
:root{
    --yellow: #f4eb34;
    --blue: #72afa6;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --silver:#c0c0c0;
    --rood:#C62828;
    --donker-rood:#ff00001a;
    --zalm:#EF9A9A;
}
body{
	background: url(log.png) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: 'Montserrat';
	
}
.container{
	position: relative;
	margin-top: 500px;
	width: 800px;
	height: 450px;
	background:var(--white);
    border-radius: 15px;

}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: var(--blue);
    margin-left: 170px;
}
.login_form{
	padding: 20px 40px;
    margin-left: 90px;

}
.login_form .font{
	font-size: 28px;
	color: var(--black);
	margin: 5px 0;
    margin-left: 100px;

}
.login_form input{
    margin-left: 100px;
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid var(--silver);
}
.login_form .font2{
	margin-top: 30px;
    margin-left: 100px;

}
.login_form button{
	margin: 45px 0 30px ;
	height: 50px;
	width: 365px;
    margin-left: 100px;
	font-size: 20px;
	color: var(--white);
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: var(--blue);
	border-radius: 3px;
	border: 1px solid var(--blue);

}
.login_form #email_error,
.login_form #pass_error{
    margin-left: 99px;
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: var(--rood);
	background: var(--donker-rood);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid var(--zalm);
	display: none;
}